apiVersion: v1
kind: List
items:
- apiVersion: project.openshift.io/v1
  kind: ProjectRequest
  metadata:
    name: "{{ dev_ns }}"
    creationTimestam: null
  displayName: Basic Nginx App - Dev
- apiVersion: project.openshift.io/v1
  kind: ProjectRequest
  metadata:
    name: "{{ stage_ns }}"
    creationTimestam: null
  displayName: Basic Nginx App - Stage
- apiVersion: project.openshift.io/v1
  kind: ProjectRequest
  metadata:
    name: "{{ prod_ns }}"
    creationTimestam: null
  displayName: Basic Nginx App - Prod
- apiVersion: project.openshift.io/v1
  kind: ProjectRequest
  metadata:
    name: "{{ build_ns }}"
    creationTimestam: null
  displayName: Basic Nginx App - Build